body {
    background-color: #ffffcc;
    font-family: MS PGothic,sans-serif;
    padding: 20px;
}

h1 {
    text-decoration: underline;
    text-shadow: 1px 1px 0 #999;
    letter-spacing: 2px;
}

small {
    text-shadow: 1px 1px 0 #ccc;
}

button,
input {
    font-size: 16px;
    padding: 6px;
    background-color: #ffffff;
    border: 1px solid #666;
}

button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

hr {
    margin: 40px 0;
}